
body {
  background-color:  #87ceeb;
  color: #003366; 
}


.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  opacity: 0.8;
  border-radius: 20px;
}

.profile {
  text-align: center;
  margin-bottom: 30px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.name {
  font-size: 2em;
  color: #2e4a62;
  text-shadow: 1px 1px 2px #87ceeb; 
}


.details h2 {
  margin-top: 20px;
  color: #003366;
  border-bottom: 2px solid #4682b4;
  padding-bottom: 5px;
}

.details p {
  line-height: 1.8;
  margin: 10px 0;
  color: #005b96;
}

.details ul {
  padding-left: 20px;
  line-height: 1.8;
}

.details ul li {
  margin-bottom: 5px;
  color: #2e4a62;
}

