body {
  background: linear-gradient(to bottom, #ffffff, #87ceeb); /* 흰색에서 하늘색으로 그라데이션 */
  color: #003366;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
}

.profile {
  text-align: center; 
  margin: 20px;
}

.name {
  font-size: 2em;
  color: #2e4a62;
  text-shadow: 1px 1px 2px #87ceeb;
  margin-bottom: 10px;
  display: inline; /* '최은비'를 한 줄로 보이게 설정 */
}

.introduction-text {
  font-size: 2em;
  color: #2e4a62;
  text-shadow: 1px 1px 2px #87ceeb;
  margin-left: 10px; /* '자기소개'와 '최은비' 간격 */
  display: inline; /* 한 줄로 보이게 설정 */
}
.name:hover {
  cursor: pointer;
}

.details h2 {
  margin-top: 20px;
  color: #003366;
  border-bottom: 2px solid #4682b4;
  padding-bottom: 5px;
}

.details p {
  line-height: 2.0;
  margin: 10px 0;
  color: #005b96;
}

.details ul {
  padding-left: 20px;
  line-height: 2.0;
}

.details {
  line-height: 2.0;
}
.jjanggu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; 
}

.profile-picture-container {
  margin-right: 20px; /* 사진과 짱구 사이 간격 */
}

.profile-picture {
  width: 350px;
  height: 350px;
  border-radius: 20%;
  object-fit: cover;
  border: 2px solid #4682b4;
}

.jjanggu {
  width: 150px;
  height: auto;
}

.jjanggu-container:hover .jjanggu {
  animation: dance 0.5s infinite alternate;
}

#heart-container {
  text-align: left;
  margin-left: 200px ;
}

#heart {
  font-size: 2em;
  color: black;
  cursor: pointer;
}

#scroll-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: gray;
  color: white;
  text-align: center;
  padding: 10px 0;
}

@keyframes dance {
  0% {
      transform: rotate(0deg) translateY(0);
  }
  50% {
      transform: rotate(10deg) translateY(-10px);
  }
  100% {
      transform: rotate(-10deg) translateY(-10px);
  }
} 

.email-section {
  margin-top: 20px;
}

.email-section label {
  display: block;
  margin: 10px 0 5px;
}

.email-section input,
.email-section textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.email-section button {
  padding: 10px 20px;
  background-color: #4682b4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.email-section button:hover {
  background-color: #005b96;
}
