@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
  --black-100: #16171b;
  --white: white;
  --red: #ff4d4d;
  --blue-2: #92bee7;
  --purple-100: #866cc7;
  --black-95: #222326;
  --qualified: #3cb652;
  --black-40: #a2a2a4;
  --white-5: #ffffff0d;
  --white-10: #ffffff1a;
  --orange: #f29871;
  --black-80: #454549;
  --black-90: #2d2e32;
  --white-2-21: #ffffff05;
  --rank-yellow: #edb513;
  --cool-red: #f271a7;
  --white-20: #fff3;
  --black-50: #8a8b8d;
  --rank-blue: #1f87e7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard Variable", Pretendard, sans-serif;
}

body {
  height: 100dvh;
  background-color: var(--black-100);
  background-image: url("img/noise-50.avif");
  color: var(--white);

  display: flex;
  flex-direction: column;
}

.parallax-wrap {
  position: relative;
  width: 100%;
  height: 100%;

  padding: 200px 0;
}
.parallax-wrap .component {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("img/noise-50.avif");
  opacity: 1;
}
.parallax-wrap .component img {
  width: 55%;
  filter: invert(1); /* 색상을 반전하여 흰색으로 변경 */
  opacity: 0.8;
}
.parallax-wrap #html {
  top: 70%;
  left: 60%;
  background-color: #e34f26;
  z-index: 1;
}
.parallax-wrap #css {
  width: 80px;
  height: 80px;
  top: 40%;
  left: 85%;
  opacity: 0.6;
  background-color: #1572b6;
  z-index: 1;
}
.parallax-wrap #js {
  width: 70px;
  height: 70px;
  top: 10%;
  left: 60%;
  opacity: 0.2;
  background-color: #f7df1e;
  z-index: 1;
}
.parallax-wrap #react {
  width: 75px;
  height: 75px;
  top: 70%;
  left: 30%;
  opacity: 0.4;
  background-color: #61dafb;
  z-index: 1;
}
.parallax-wrap #node {
  top: 40%;
  left: 10%;
  background-color: #5fa04e;
  z-index: 1;
}
.parallax-wrap #postgreSql {
  width: 85px;
  height: 85px;
  top: 15%;
  left: 25%;
  opacity: 0.8;
  background-color: #4169e1;
  z-index: 1;
}

.text-color-white {
  color: #fff;
  text-align: center;
  z-index: 2;
}
.text-style-gradient {
  background: linear-gradient(to right, var(--orange), var(--red));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

main {
  display: grid; /* display: grid 추가 */
  grid-template-columns: repeat(3, 1fr); /* 3 열 */
  grid-template-rows: 1fr 1fr 2fr;
  grid-template-areas:
    "introduce introduce hobby"
    "mbti liked-food disliked-food"
    "liked-movie liked-music liked-music"
    "liked-movie liked-music liked-music";
  gap: 40px;
  padding: 0px 40px 40px 40px;
}
#mbti {
  grid-area: mbti;
}
#liked-food {
  grid-area: liked-food;
}
#disliked-food {
  grid-area: disliked-food;
}
#liked-movie {
  grid-area: liked-movie;
}
#liked-movie img {
  height: 315px;
}
#liked-music {
  grid-area: liked-music;
}
#liked-music iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9; /* 16:9 비율 */
}
#introduce {
  grid-area: introduce;
}
#hobby {
  grid-area: hobby;
}

.panels {
  text-align: center;
  padding: 4rem;
  border-radius: 1rem;
  background: linear-gradient(to right, #b07157, #b93d3e),
    url("img/noise-50.avif");
  background-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.panels h1 {
  margin-bottom: 20px;
}

@media (max-width: 1040px) {
  main {
    display: flex;
    flex-direction: column; /* 세로 정렬로 변경 */
  }
}

@media (max-width: 768px) {
  .parallax-wrap .component {
    height: 80px; /* 크기 줄이기 */
    width: 80px;
  }

  .parallax-wrap #css {
    width: 64px; /* 비율 80% */
    height: 64px;
  }
  .parallax-wrap #js {
    width: 56px; /* 비율 70% */
    height: 56px;
  }
  .parallax-wrap #react {
    width: 60px; /* 비율 75% */
    height: 60px;
  }
  .parallax-wrap #postgreSql {
    width: 68px; /* 비율 85% */
    height: 68px;
  }
}

/* 576px 이하에서 크기 더 줄이기 */
@media (max-width: 576px) {
  .parallax-wrap .component {
    height: 50px;
    width: 50px;
  }
  .parallax-wrap #css {
    width: 40px; /* 비율 80% */
    height: 40px;
  }
  .parallax-wrap #js {
    width: 35px; /* 비율 70% */
    height: 35px;
  }
  .parallax-wrap #react {
    width: 38px; /* 비율 75% */
    height: 38px;
  }
  .parallax-wrap #postgreSql {
    width: 43px; /* 비율 85% */
    height: 43px;
  }
}

/* 375px 이하에서 최소 크기 */
@media (max-width: 375px) {
  .parallax-wrap .component {
    height: 30px;
    width: 30px;
  }
  .parallax-wrap #css {
    width: 24px; /* 비율 80% */
    height: 24px;
  }
  .parallax-wrap #js {
    width: 21px; /* 비율 70% */
    height: 21px;
  }
  .parallax-wrap #react {
    width: 23px; /* 비율 75% */
    height: 23px;
  }
  .parallax-wrap #postgreSql {
    width: 26px; /* 비율 85% */
    height: 26px;
  }
}
