body {
    font-family: "Noto Sans Korean", sans-serif;
    font-size: 15px;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FAFAFA;
    border: none;
    border-radius: 30px;
    width: 1200px;
    height: 170px;
    margin: 4px;
}

.소개내용 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

h1 {
    border: 3px solid black;
    background-color: #FF00BF;
    width: 1200px;
    padding: 10px;
    font-family: Orbit;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h2 {
    border: 3px solid black;
    border-radius: 2rem;
    padding: 10px;
    font-family: Gasoek One;
    font-weight: 220; 
}

.분홍제목 {
    background-color: #F6CEF5;
}

.하늘제목 {
    background-color: #CED8F6;
}

.분홍내용 { 
  text-align: left;
  font-family: Orbit;
}

.하늘내용 { 
    text-align: right;
    font-family: Orbit;
  }