@import "reset.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --basebackground-color: #daecf5;
  --mainfont-color : #ffffff;
  --textpink-color : #b297a0;
}

html {
  font-size : 10px;
}

body {
  font-family: Pretendard, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

#fallingStarsCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}

#content {
  position: relative;
  z-index: 1;

}

header {
  width: 100%;
  height: 10rem;
  padding: 1.5em;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headertitle {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.4;
  color: var(--mainfont-color);
}

.headersub {
  display: flex;
  padding: 1rem 10rem;
  border-radius: 3rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: #404040;
  background-color: var(--basebackground-color);
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
}

.headersub:hover {
  cursor: pointer;
}

.main-containor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}

.list-content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 25px;
}

.self-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--basebackground-color);
  gap: 20px;
}

#exprain-head {
  font-size: 3rem;
  display: flex;
  font-weight: 700;
  padding-top: 2rem;
  color: var(--mainfont-color);
}

#self-exprain-img{
  display: flex;
}

.mainimg-size{
  display: flex;
  max-width: 40rem;
  font-weight: 500;
}

.sub-text-Pink  {
  color: var(--textpink-color);
  font-size: 1.8rem;
  font-weight: 500;
  padding: 2rem 0;
}

#song-head {
  font-size: 3rem;
  display: flex;
  font-weight: 700;
  padding-top: 2rem;
  color: var(--mainfont-color);
}

#favorite-song, #FE-movie, #game {
  display: flex;
}

#movie-head {
  font-size: 3rem;
  display: flex;
  font-weight: 700;
  padding-top: 2rem;
  color: var(--mainfont-color);
}



.mainlinktext {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
}

#FEfood-head, #HEfood-head, #hobby-head {
  font-size: 3rem;
  display: flex;
  font-weight: 700;
  padding-top: 2rem;
  color: var(--mainfont-color);
}

.last-containor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: var(--basebackground-color); */
}

.lastcontant{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


.lastimg-size{
  max-width: 40rem;
  padding: 0;
}
